@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');

.countUp{
  position:fixed;
  top:820px;
  left:609px;
  font-size: 2em;
  font-family:'Open Sans', sans-serif;
  color:#ffffff;
}
